@*  @model RateMyCar.Models.Review *@

@{
    ViewData["Title"] = "Create Review";
}

<h2>Create Review</h2>

<form action="/home/AddReview" method="POST">
   @*  <div class="form-group">
        <label asp-for="CarYear" class="control-label"></label>
        <input asp-for="CarYear" class="form-control" />
        <span asp-validation-for="CarYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CarMake" class="control-label"></label>
        <input asp-for="CarMake" class="form-control" />
        <span asp-validation-for="CarMake" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CarModel" class="control-label"></label>
        <input asp-for="CarModel" class="form-control" />
        <span asp-validation-for="CarModel" class="text-danger"></span>
    </div> *@
     
    <div>
        <label>Car</label>
        <select name="Car">
            @* <option value="Toyota">Toyota</option>
            <option value="Honda">Honda</option>
            <option value="Ford">Ford</option>  *@
            @foreach(var car in Model.cars)
            {
                <option value="@car.Make">@car.Year @car.Make @car.Model</option>
            }
        </select>
    </div>
    
    <div class="form-group">
        <label name="PhotoUrl" class="control-label">Photo URL</label>
        <input name="PhotoUrl" class="form-control" />
        <span name="PhotoUrl" class="text-danger"></span>
    </div>
    <div>
        <label name="Rating">Rating</label>
        <select name="Rating">
            @for (int rating = 1; rating <= 5; rating++)
            {
                <option value="@rating">@rating</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label name="Comments" class="control-label">Comments</label>
        <textarea name="Comments" class="form-control"></textarea>
        <span name="Comments" class="text-danger"></span>
    </div>
    <div class="form-group">
        @* <label name="User.Email" class="control-label">User Email</label>
        <input name="User.Email" class="form-control"></textarea>
        <span name="User.Email" class="text-danger"></span> *@
        <select name="User">
            @foreach (var user in Model.users)
            {
                <option value="@user.UserId"> @user.Username  </option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
